<!doctype html>
<html lang="en" dir="ltr">
<head>
  <meta charset="utf-8" />
  <title>Solar System Explorers</title>

  <style>
    body {
      font: 100% / 1.5 "Helvetica Neue", Helvetica, Arial, sans-serif;
      padding: 3em 4.5em;
      background: white;
      color: black;
    }
    li {
      margin-top: 3em;
    }
    img {
      max-width: 100%;
      height: auto;
    }
    .summary img {
      width: 100%;
    }
    figure {
      margin-left: 0;
      margin-right: 0;
    }
    figcaption {
      font-size: 0.75em;
      font-style: italic;
      opacity: 0.5;
    }
    summary {
      margin-top: 1.5em;
      margin-bottom: 1.5em;
      display: block;
      list-style: none;
      cursor: pointer;
    }
    summary h2 {
      text-decoration: underline;
    }
    details[open] summary h2 {
      text-decoration: none;
    }
    details[open] .mask-behind-details {
      position: fixed;
      top: 0;
      left: 0;
      width: 100vw;
      min-height: 100vh;
      background: black;
      background: rgba(0, 0, 0, 0.9);
    }
    details .summary {
      border: 0.25em solid white;
      padding: 1.25em;
    }
    details[open] .summary {
      position: relative;
      z-index: 99999;
      color: white;
      margin-bottom: 4.5em;
    }
    details[open] .summary::after {
      content: "⬇︎";
      display: block;
      text-align: center;
      font-size: 2em;
      position: absolute;
      width: 100%;
      top: 100%;
      left: 0;
      top: calc(100% + 0.5em);
    }
    details summary::-webkit-details-marker,
    details summary:focus::-webkit-details-marker {
      display: none;
    }
    details {
      display: block;
    }
    .details {
      position: absolute;
      left: 50%;
      width: 100%;
      max-width: 48em;
      background: white;
      color: black;
      transform: translateX(-50%);
      padding: 3em;
      box-sizing: border-box;
    }
    ol, li {
      list-style: none;
      margin-left: 0;
      padding-left: 0;
    }
    ol {
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(21em, 1fr));
      grid-gap: 3em 0;
    }
    .error .message,
    .loading .message {
      display: block !important;
    }
    .error .message {
      color: red;
    }
  </style>

</head>
<body>

<h1>Solar System Explorers</h1>
<p role="status" class="message" style="display: none;"></p>
<ol id="people-list"></ol>

<script type="text/template" id="person-template">
  <li>
    <details>
      <summary>
        <div class="summary">
          <img src="{{ image }}" alt="{{ name }}" />
          <h2>{{ name }}</h2>
          <h3>{{ title }}</h3>
          <p>{{ description }}</p>
        </div>
        <div class="mask-behind-details"></div>
      </summary>
      <div class="details">
        <figure>
          <img src="{{ detailImage }}" alt="{{ name }}" />
          <figcaption>{{ caption }}</figcaption>
        </figure>
        {{ body }}
        <p><small>Source: <a href="{{ link }}">solarsystem.nasa.gov</a></small></p>
      </div>
    </details>
  </li>
</script>

<script>
(function() {

  // Example requests for the People API on solarsystem.nasa.gov

  // All people
  // https://solarsystem.nasa.gov/api/v1/site_staffs/?category=4

  // Featured people
  // https://solarsystem.nasa.gov/api/v1/site_staffs/?category=4:134

  // Tributes
  // https://solarsystem.nasa.gov/api/v1/site_staffs/?category=4:147

  // People with the Saturn tag
  // https://solarsystem.nasa.gov/api/v1/site_staffs/?category=4&tags=saturn

  // Limit to twenty people per page
  // https://solarsystem.nasa.gov/api/v1/site_staffs/?category=4&per_page=20&page=0

  // Get the next page
  // https://solarsystem.nasa.gov/api/v1/site_staffs/?category=4&per_page=20&page=1

  // Order the data by name, ascending
  // https://solarsystem.nasa.gov/api/v1/site_staffs/?category=4&order=name+asc

  // Order the data by name, descending
  // https://solarsystem.nasa.gov/api/v1/site_staffs/?category=4&order=name+desc


  // https://developer.mozilla.org/en-US/docs/Web/API/Fetch_API/Using_Fetch
  showLoadingMessage()
  fetch('https://solarsystem.nasa.gov/api/v1/site_staffs/?page=0&per_page=9999&order=name+asc&search=&category=4')
    .then(function(response) {
      return response.json()
    })
    .then(function(myJson) {
      addItems(myJson)
      hideLoadingMessage()
    })
    .catch(function(error) {
      console.error(error)
      showErrorMessage()
    })

  function addItems(data) {
    var list     = document.getElementById('people-list')
    var template = document.getElementById('person-template')

    if (data && list && template) {
      for (var index = 0; index < data.items.length; index++) {
        createItem(data.items[index], list, template)
      }
    }
  }

  function createItem(itemData, list, template) {
    var name        = itemData.name
    var title       = itemData.title
    var description = itemData.short_description
    var caption     = itemData.image_subtitle
    var body        = itemData.body
    var link        = itemData.link
    var image       = itemData.image_src
    var detailImage = itemData.detail_image_src

    if (       link.indexOf('/') === 0)        link = 'https://solarsystem.nasa.gov' + link
    if (      image.indexOf('/') === 0)       image = 'https://solarsystem.nasa.gov' + image
    if (detailImage.indexOf('/') === 0) detailImage = 'https://solarsystem.nasa.gov' + detailImage

    var html = template.innerHTML
      .replace(/\{\{ name \}\}/g,        name)
      .replace(/\{\{ description \}\}/g, description)
      .replace(/\{\{ title \}\}/g,       title)
      .replace(/\{\{ image \}\}/g,       image)
      .replace(/\{\{ detailImage \}\}/g, detailImage)
      .replace(/\{\{ caption \}\}/g,     caption)
      .replace(/\{\{ body \}\}/g,        body)
      .replace(/\{\{ link \}\}/g,        link)  

    list.insertAdjacentHTML('beforeend', html)
  }

  function showLoadingMessage() {
    document.body.classList.add('loading');
    document.querySelector('.message').textContent = 'Loading data…'
  }

  function showErrorMessage() {
    document.body.classList.add('error');
    document.querySelector('.message').textContent = 'An error occurred while loading the data.'
  }

  function hideLoadingMessage() {
    document.body.classList.remove('loading');
    document.querySelector('.message').textContent = 'The data has finished loading.'
  }

})();

</script>

</body>
</html>
